body {
    background-color: rgb(27, 26, 65) ;
    color: #71acc2;
    min-height: 100vh;
  }
.search-button{
    height: 42.5px;
    margin-top:-1px;
}
.navbar{
    font-family: 'Audiowide', cursive;
}
.list-box{
    padding:30px;
}
.heros{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.about-img{
    display: block;
    
    
    background-repeat: no-repeat;
    background-position: center;
}

 
  
  h1,
  h2,
  h3 {
    color: #ffffff;
  }
  hr{
    background-color: rgba(208, 208, 208, 0.946)
  }
  .navbar{
    background-color: rgba(239, 233, 233, 0.946);
  }
.title {
    color: rgb(246, 243, 243);
    font-weight: 800;
    font-size: 4rem;
    font-family: 'Racing Sans One', cursive;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
  }
  
.subtitle {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
  }
  
  .container {
    padding: 40px;
    padding-right: 0;
    color:#ffffff;
  }
  

  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
  }
  
  .gallery .card {
    transition: 0.1s linear;
  }
  
  .gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
  }
  
  p {
    font-size: 12px;
  }
  
  .detail__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: #100f0f;
    overflow: hidden;
  }
  
  .detail__img::after {
    content: "";
    background-image: linear-gradient(transparent 60%, #1f1f1f);
   
  }
  
  .body-img {
    width: 100%;
    height: 500px;
    object-fit: none;
    object-position:center;
  }
  
 .detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
  }
  
  .detail__container {
    margin-top: 500px;
  }
    .card-header-title{
    font-size: 30px;

}
    .detail__exercises {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Exercises {
    width: 100%;
    padding: 10px;
    
    
    border-radius: 5px;
}

.Exercises:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: pointer;
}
.exercisename{
    font-size: 25px;
}
.detail__exercises{
    margin-top: 20px;
}
/* home page csssss */

.va {
    display: flex;
    align-items: center;
  }
  
  .hero,
  .cta {
    background: url(https://i.imgur.com/hQoJ6Dx.png?1), linear-gradient(52deg, #42475C 0%, #20222E 71%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .cta {
    height: 500px;
    border-top: 10px solid turquoise;
  }
  
  footer {
    color: white;
    background: rgb(14, 14, 14) !important;
  }
  
  footer strong {
    color: turquoise;
  }
  
  footer a {
    color: turquoise;
  }
  

  
  hr.content-divider {
    max-width: 75px;
    height: 5px;
  }
  
  #parallax-1 {
    background: url(https://i.imgur.com/pNzdGW3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid rgb(245, 67, 67);
  }
  
  #parallax-1 hr {
    background: rgb(245, 67, 67);
  }
  
  #parallax-2 {
    background: url(https://i.imgur.com/BY3JNm8.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid yellow;
  }
  
  #parallax-2 hr {
    background: yellow;
  }
  
  #parallax-3 {
    background: url(https://source.unsplash.com/featured/?city);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid hotpink;
  }
  
  #parallax-3 hr {
    background: hotpink;
  }
  
  .label {
    color: white;
  }



  /* log in  css */

.heroL .nav, .heroL.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
  border-radius: 5%;
}
.avatar {
  
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 20%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);

 
}
input {
  font-weight: 300;
  background-color:#bbc1ff;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}

.login-hr{
  border-bottom: 1px solid black;
}

.has-text-black{
  color: black;
}

.field{
  padding-bottom: 10px;
}

.fa{
  margin-left: 5px; 
}

/* Routines page styling */
.button{
    margin: 5px;
}
.routine {
    padding:20px;
}
.title-routine{
    color: rgb(246, 243, 243);
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Racing Sans One', cursive;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
    


}

/* Human body figure */
.bodyparts{
    margin-bottom: 350px;
}
.choose{
    margin-top: 20%;
    text-align: center;
}

.human-body {
    width: 207px;
    position: relative;
    padding-top: 240px;
    height: 260px;
    display: block;
    margin: 40px auto;
}
.human-body svg:hover {
    cursor: pointer;
}
.human-body svg:hover path {
    fill: #ff7d16;
}
.human-body svg {
    position: absolute;
    left: 50%;
    fill: #d8ebee;
}
.human-body svg.head {
    margin-left: -28.5px;
    top: -6px;
}
.human-body svg.shoulder {
    margin-left: -53.5px;
    top: 69px;
}
.human-body svg.arm {
    margin-left: -78px;
    top: 112px;
}
.human-body svg.cheast {
    margin-left: -43.5px;
    top: 88px;
}
.human-body svg.stomach {
    margin-left: -37.5px;
    top: 130px;
}
.human-body svg.legs {
    margin-left: -46.5px;
    top: 205px;
    z-index: 9999;
}
.human-body svg.hands {
    margin-left: -102.5px;
    top: 224px;
}
#area {
    display: block;
    width: 100%;
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Courier New;
    color: #a5a5a5;
}

#area #data {
    color: black;
}