{% extends 'base.html' %} {% block content %}


<section class="heroL is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-white">Sign Up</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-white">Sign Up to get access.</p>
                <div class="box">
                     <figure class="avatar">
                        <img src="https://i.imgur.com/pNzdGW3.jpg">
                    </figure> 
                    
                    <h1 class="title">Sign Up</h1>
                    
                    <form method="post" action="{% url 'signup' %}">
                        {% csrf_token %} {{ form.as_p }}
                        <input type="submit" class="btn" value="Sign Up" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
               
        </div>
    </div>
</section>
{% endblock %}
