{% extends 'base.html' %} {% block content %}
<div class="heros ">
    
        <img src="https://i.imgur.com/xu5nOBT.jpg" class='about-img bg-white'>
   
</div>

<section class="section">
    <div class="container has-text-centered">
        <h2 class="title-about">GetFit</h2>
        <p class = 'about-p'>This website was created to assist those just starting out in their fitness journey by teaching them basic to advanced workouts for almost all body parts. Users can then add the workouts they want to their routine list and begin their workout plan from there. We hope this sparks your interest in fitness and taking care of your body. Get out there and GetFit!</p>

        
    </div>
</section>





{% endblock %}