{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{% static 'scripts/main.js' %}" defer></script>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
   
        
        
        <title>GetFit - {% block title %}{% endblock %}</title> 
    </head>
    <body >
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">GetFit</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu navbar-start">
                <a class="navbar-item" href="/about">About</a>
                <a class="navbar-item" href="/workouts">Workouts</a>
                <a class="navbar-item" href="/routines">Routine</a>

            </div>
            <div class="navbar-menu navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-menu navbar-end">
                    <span class="navbar-item">Welcome: {{user.username}}</span>
                    <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}
                <div class="navbar-menu navbar-end">
                    <a class="navbar-item" href="{% url 'login' %}">Log In</a>
                    <a class="navbar-item" href="{% url 'signup' %}">Sign Up!</a>
                </div>
            {% endif %}
            </div>
        </nav>
       
        

            {% block content %}{% endblock %}
            <footer class="footer">
                <div class="content has-text-centered">
                  <p>
                    <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                  </p>
                </div>
              </footer>
        </div>
      </div>
    </div>
  </body>
</html>