{% extends 'base.html' %}
{% block content %}
<div class="home__routines">
    {% for routine in routines %}

        <div class="routine mb-5">
            <h3 class="title-routine is-3 ">{{routine.title}}</h3>
            <hr />

            {% for exercise in routine.exercises.all %}

                <div class="exercise">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{exercise.name}}</b></span>
                    <span>
                        
                        <a href="{% url 'routine_exercise_assoc' routine.pk exercise.pk %}?assoc=remove" class="button is-danger is-outlined">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        </a>
                    </span>
                    
                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="playlist mb-5">"There are no exercises in this routine"</div>
    {% endfor %}
</div>
{% endblock %}