{% extends 'base.html' %} {% block content %}

<h1 class="title">Workouts</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'workout_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'workout_create' %}">Add a Workout</a>
</form>
<div class="gallery">
  {% for bodypart in bodyparts %}
  <a href="{% url 'workout_detail' bodypart.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{bodypart.img}}" alt="{{bodypart.name}}" height='100px' width='100px' />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{bodypart.name}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}